{% extends "base.html" %}

{% block title %}Edit Student{% endblock %}

{% block content %}

<div class="container mt-5">

    <div class="card shadow border-0">

        <div class="card-body">

            <h2 class="mb-4">
                Edit Student
            </h2>

            <form method="POST">

                {% csrf_token %}

                {{ form.as_p }}

                <button class="btn btn-primary">
                    Update Student
                </button>

                <a href="{% url 'student_list' %}"
                   class="btn btn-secondary">
                    Cancel
                </a>

            </form>

        </div>

    </div>

</div>

{% endblock %}